.measure-narrow.center
  %h2 Show user
  %p
    %strong Username:
    = @user.username
  %p
    %strong Email:
    = @user.email
  = link "Edit", to: user_path(@conn, :edit, @user), class: "ba br1 w4 mh1 fl tc link black bg-light-yellow pa2"
  = link "Back", to: user_path(@conn, :index), class: "ba br1 w4 mh1 fl tc link black pa2"
