<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Noot!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="avenir">
    <nav class="pa3 pa4-ns">
      <a class="link dim black b f6 f5-ns dib mr3" href="#" title="Home">Nootr</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="http://www.phoenixframework.org/docs" title="Get Started">Get Started</a>
      <li>
        <%= if user = current_user(@conn) do %>
          Logged in as
          <strong><%= user.username %></strong>
          <br>
          <%= link "Logout", to: session_path(@conn, :delete, user.id), method: :delete %>
        <% else %>
          <%= link "Login", to: session_path(@conn, :new) %>
        <% end %>
      </li>
    </ul>
    </nav>
    <div class="measure-wide center pa4">
      <p role="alert"><%= get_flash(@conn, :info) %></p>
      <p role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
