.center.pv4.br4.tc
  %div.h5.pa0.bg-lightest-blue
    %div
      %p.f-subheadline.pa2 Nootr
      %p A stack tracking application for all of your nootropic needs.
  %div.h5.pa0
    %p.f1.pa2 What are nootropics?
    %p.tl Some further reading:
    %ul.tl
      %li
        %a.link.dim.black-70{:href => "http://www.reddit.com/r/nootropics"} Reddit
      %li

        %a.link.dim.black-70{:href => "http://www.longecity.org/forum/page/index.html"} Forums
      %li
        %a.link.dim.black-70{:href => "https://en.wikipedia.org/wiki/Nootropics"} Wikipedia Article
  %div.h5.pa0.bg-lightest-blue
    %p.f1 Why Nootr
